In [18]:
f = open("toyota.csv", "r")
#print(f.read())

In [19]:
header_names = ['Year', 'Sales', 'Growth', 'Market_Share']
toyota_table = pd.read_csv("toyota.csv", header=None, names = header_names)

In [20]:
print(toyota_table)

    Year      Sales  Growth  Market_Share
0   1981    711,993   -0.26          0.00
1   1982    674,554   -5.26          0.00
2   1983    726,818    7.75          0.00
3   1984    822,164   13.12          0.00
4   1985    939,794   14.31          0.00
5   1986  1,010,229    7.49          0.00
6   1987    923,889   -8.55          0.00
7   1988    935,960    1.31          0.00
8   1989    929,051   -0.74          0.00
9   1990    992,760    6.86          0.00
10  1991    939,274   -5.39          0.00
11  1992    889,331   -5.32          0.00
12  1993    892,010    0.30          0.00
13  1994  1,088,082   21.98          0.00
14  1995  1,001,407   -7.97          0.00
15  1996  1,078,189    7.67          7.10
16  1997  1,132,527    5.04          7.50
17  1998  1,204,765    6.38          7.80
18  1999  1,289,551    7.04          7.60
19  2000  1,413,169    9.59          8.10
20  2001  1,517,271    7.37          8.90
21  2002  1,522,018    0.31          9.10
22  2003  1,595,660    4.84          9.57
23  2004  1,672,862    4.84          9.89
24  2005  1,800,915    7.65         10.60
25  2006  2,047,057   13.67         12.36
26  2007  2,161,467    5.59         13.38
27  2008  1,843,669  -14.70         13.92
28  2009  1,496,211  -18.85         14.34
29  2010  1,488,588   -0.51         12.84
30  2011  1,396,837   -6.16         10.93
31  2012  1,764,802   26.34         12.18
32  2013  1,893,874    7.31         12.15
33  2014  2,004,373    5.83         12.12
34  2015  2,098,545    4.70         12.01
35  2016  2,106,332    0.37         12.01
36  2017  2,129,177    1.08         12.35
37  2018  2,128,201   -0.05         12.28
38  2019  2,085,186   -2.02         12.22

In [21]:
toyota_table.to_csv("Toyota_us.csv")

In [22]:
g = open("Toyota_us.csv", "r")
print(g.read())

,Year,Sales,Growth,Market_Share
0,1981,"711,993",-0.26,0.0
1,1982,"674,554",-5.26,0.0
2,1983,"726,818",7.75,0.0
3,1984,"822,164",13.12,0.0
4,1985,"939,794",14.31,0.0
5,1986,"1,010,229",7.49,0.0
6,1987,"923,889",-8.55,0.0
7,1988,"935,960",1.31,0.0
8,1989,"929,051",-0.74,0.0
9,1990,"992,760",6.86,0.0
10,1991,"939,274",-5.39,0.0
11,1992,"889,331",-5.32,0.0
12,1993,"892,010",0.3,0.0
13,1994,"1,088,082",21.98,0.0
14,1995,"1,001,407",-7.97,0.0
15,1996,"1,078,189",7.67,7.1
16,1997,"1,132,527",5.04,7.5
17,1998,"1,204,765",6.38,7.8
18,1999,"1,289,551",7.04,7.6
19,2000,"1,413,169",9.59,8.1
20,2001,"1,517,271",7.37,8.9
21,2002,"1,522,018",0.31,9.1
22,2003,"1,595,660",4.84,9.57
23,2004,"1,672,862",4.84,9.89
24,2005,"1,800,915",7.65,10.6
25,2006,"2,047,057",13.67,12.36
26,2007,"2,161,467",5.59,13.38
27,2008,"1,843,669",-14.7,13.92
28,2009,"1,496,211",-18.85,14.34
29,2010,"1,488,588",-0.51,12.84
30,2011,"1,396,837",-6.16,10.93
31,2012,"1,764,802",26.34,12.18
32,2013,"1,893,874",7.31,12.15
33,2014,"2,004,373",5.83,12.12
34,2015,"2,098,545",4.7,12.01
35,2016,"2,106,332",0.37,12.01
36,2017,"2,129,177",1.08,12.35
37,2018,"2,128,201",-0.05,12.28
38,2019,"2,085,186",-2.02,12.22